* {
  box-sizing: border-box;
}
html {
	height:100vh;
  font-family: monospace;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}
body{
	height:100vh;
  background-color:#ededed;
}
section {
  padding: 1rem;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}
h1  {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  padding-left:10vw;
  color: #929292;
  width: 100%;
  left: 0;
  font-size: calc(1rem + 3vw);
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* border-right: 2px solid rgb(92,92,92); */
}

#hider1{
	
	
position: fixed;
	
background-color: #2e2e2e;
	
width: 0em;
	
height: 10em;
	
z-index: 2;
	
right: 0;
top: 50%;
	transform: translateY(-50%);
}
.white{
	color:white;
}
.z3{
	z-index:3;
}
#surajpic{width: calc(12vh + 18vw);
	position: absolute;
	left:calc(2vh + 50vw);
	z-index:20;
	top: 50%;
	transform: translateY(-50%);}




/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}