* {
  box-sizing: border-box;
}
html {
	height:100vh;
  font-family: monospace;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}
body{
	height:100vh;
  background-color:#ededed;
}
section {
  padding: 1rem;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}
h1  {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  padding-left:10vw;
  color: #929292;
  width: 100%;
  left: 0;
  font-size: calc(1rem + 3vw);
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* border-right: 2px solid rgb(92,92,92); */
}

.hider{
	position: fixed;
	width: 0em;

height: 10em;
right: 0;
top: 50%;
transform: translateY(-50%);
}
#hider1{

background-color: #2e2e2e;

z-index: 2;

}
#hider2{

background-color:#a849a7;

height: 27em;

z-index: 4;
}
#hider3{
	
background-color:#a849a7;

height: 63em;

z-index: 6;
}
#blue{
	
background-color: #2196F3;
	
height: 9em;
}
#green{
	
background-color: #4CAF50;
	
height: 9em;
}
#yellow{
	
background-color:yellow;
	
height: 9em;
}
#violet{
	
background-color:violet;
	
height: 9em;
}
#indigo{
	
background-color:indigo;
	
height: 9em;
}
#orange{
	
background-color:orange;
	
height: 9em;
}
#red{

background-color:red;
	
height: 9em;
}

.white{
	color:white;
}
.z3{
	z-index:3;
}
.z5{
	z-index:5;
}
.z7{
	z-index:7;
}
#surajpic{width: calc(12vh + 18vw);
	position: absolute;
	left:calc(2vh + 50vw);
	z-index:20;
	top: 50%;
	transform: translateY(-50%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 border: 0.8em solid #f4f3f3;}
#surajpropic{width:100%;}
.card{
	background:#f4f3f3;
	width: calc(12vh + 18vw);
	position: absolute;
	right:calc(2vh + 50vw);
	z-index:20;
	top: 50%;
	transform: translateY(-50%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 border: 0.8em solid #f4f3f3;
	 color:black;

	
}
.card p{
		margin: 0;
}


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.fa {
	text-shadow: 2px 1px 20px #00000070;
	width: 2em;
	color: white;
	z-index:10;
	padding: 0.2em;
	text-align: center;
	text-decoration: none;
	height: 2em;
	/* background: red; */
}

.fa:hover {
    opacity: 0.7;
}

.social{
	color: white;
	z-index:10;
	/* height: 2em; */
	font-size: calc(3rem + 2vw);
	/* background: #c00e0e; */
	width: 2em;
	position: absolute;
	/* margin: auto; */
	left: calc(2vh + 60vw);
	top: 50%;
	transform: translateY(-50%);
}

