.myGallery {
    width:100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4vw, 1fr));

  }
  

  .background{
    filter: brightness(0.99);
    z-index: -1;
    top: 0;
    left:0;
    position: fixed;

  }

  .fadegroup{
	  padding: 0.1em;
    display: grid;
 

}  

.fadegroup div{
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    /* margin:0.05em; */
  /*  animation-name: fade;*/
    
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
	  height:  2vw;
  border: 1vw white;
}


